<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d7f8ca">  <td>21/01/11 16:14:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.registrationTest()[pri:0, instance:com.selenium.LoginPageTest@6221a451]">registrationTest</td> 
  <td>main@475603167</td>   <td></td> </tr>
<tr bgcolor="d7f8ca">  <td>21/01/11 16:14:04</td>   <td>-3705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.selenium.LoginPageTest@6221a451]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@475603167</td>   <td></td> </tr>
</table>
